


.container {
  margin: 0;
  height: 100%;
  
 
  
   
}


.c-site-header {
  grid-area: header;
}

.pageFooter {
  grid-area: footer;
}

.mainArticle { 
  grid-area: article;      
}

.mainNav { 
  grid-area: nav; 
}

.siteAds { 
  grid-area: ads; 
}


h1, h2, h3, p, nav {
  text-align: center;
}

h1,h2 {
  color: DarkSalmon;
}
iframe:focus {
  outline: none;
}

.go {
    background-color: white;
    padding: .5rem;
}

footer {
  text-align: center;
  
  background-color: white;
}

.box1, .box2 {
  background-color: DarkSalmon;
    color: white;
    padding-top: .5px;
    padding-right: 20px;
    padding-bottom: .5px;
    padding-left: 20px;
margin-bottom: 10px;
  margin-right: 1000px;
  text-align: center;
  border-color: white;
    border-width: 5px;
    border-style: solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
 

